<div class="flex-container-card" >
  <mat-card style="margin-right: 20px" cdkDragBoundary=".flex-container-card" cdkDrag>
    <mat-card-content class="flex-container">
      <mat-card-title>
        <u>Material Design Typography Classes:</u>
      </mat-card-title>
      <div class="mat-display-3">Display 3</div>
      <div class="mat-display-2">Display 2</div>
      <div class="mat-display-1">Display 1</div>
      <div class="mat-headline">Headline</div>
      <div class="mat-title">Title</div>
      <div class="mat-subheading-1">Subheading 1</div>
      <div class="mat-subheading-2">Subheading 2</div>
      <div class="mat-body-1">Body 1</div>
      <div class="mat-body-2">Body 2</div>
      <div class="mat-caption">Caption</div>
    </mat-card-content>
  </mat-card>
  <br/>
  <mat-card cdkDragBoundary=".flex-container-card" cdkDrag>
    <mat-card-content class="flex-container">
      <mat-card-title>
        <u>Standard Headings:</u>
      </mat-card-title>
      <div>
        <h3>Font Family: Comfortaa, Cursive</h3>
      </div>
      <div><h1>Header 1</h1></div>
      <div><h2>Header 2</h2></div>
      <div><h3>Header 3</h3></div>
      <div><h4>Header 4</h4></div>
      <div><h5>Header 5</h5></div>
      <div><h6>Header 6</h6></div>
      <div><p>p</p></div>

    </mat-card-content>
  </mat-card>
</div>





